localhost {
    reverse_proxy http://signaling1:3000
    tls internal

    log {
        output stdout
        format console
    }

    handle_errors {
        respond "{http.error.status_code} {http.error.status_text}" 500
    }
}
